.swal2-container {
    padding-left: 25px !important;
    padding-bottom: 35px !important;
}
.swal2-title {
    font-weight: normal !important;
}
.swal2-popup.swal2-toast .swal2-title {
    font-size: 15px !important;
    margin: 12px 1em !important;
}